.weather-wrapper {
    color: var(--text-primary);
    padding: 2em 2em 0 2em;
    overflow-y: hidden;
}

.title {
    color: var(--text-primary);
}

.center {
    text-align: center;
}

.bold {
    font-size: 4em;
    font-weight: 900;
}
.sml {
    font-size: .5em;
}

.deg-btn-container {
    float: right;
}

.deg-btn {
    margin-left: 1em;
    border: none;
    border-radius: 50%;
    height: 3em;
    width: 3em;
    background: var(--text-secondary);
    color: var(--bg-primary);
    cursor: pointer;
    transition: var(--tran-secondary);
}

.deg-btn:hover, .deg-btn:focus {
    transition: var(--tran-secondary);
    transform: scale(1.1);
}

.selected {
    background: var(--text-primary);
}

.five-day-wrapper {
    display: grid;
    grid-template-columns: 9em 9em 9em 9em 9em;
    gap: .7em;
}

.day-card {
    margin: 4em 1em;
    background: var(--bg-secondary);
    width: 8em;
    height: 10em;
    text-align: center;
}

.card-img {
    width: 3em;
}

.high-low {
    display: flex;
    justify-content: space-around;
    margin: 1em .5em;
}

.high {
    font-weight: 900;
}

.low {
    font-weight: 300;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 25em 25em;
    grid-template-rows: 13em 13em;
    row-gap: 0;
}

.highlight-card {
    /* margin: 1em; */
    height: 12em;
    width: 22em;
    background: var(--bg-secondary);
    text-align: center;
    justify-content: space-around;
}

.card-item {
    margin: 0.3em;
    padding: 0;
}

.mr-rgt {
    margin-right: .5em;
}

.circle {
    border-radius: 50%;
    background: var(--text-secondary);
    padding: .2em;
}

.fix-align {
    display: inline-flex;
    align-items: center;
}

hr {
    margin: 1em;
    height: 150px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 130px 0px 0px 0px;
    border-top: 1px dashed var(--text-secondary);
    margin-right:130px;
}

hr::before {
    display: block;
    content: "";
    height: 150px;
    margin-top: -151px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 0px 0px 130px 0px;
	margin-left:130px;
	margin-right:-130px;
	border-bottom: 1px dashed var(--text-secondary);
}

.negative {
    margin-top: -9em;
}

progress,
progress::-moz-progress-bar {
    background: var(--bg-primary);
    border-radius: 2em;
}

progress[value] {
    background: var(--text-secondary);
    border: var(--bg-secondary);
    border-radius: 2em;
}

@media only screen and (max-width: 600px) {

    .weather-wrapper {
        padding: 1em;
        margin: 1em;overflow: hidden;
    }

    .five-day-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .day-card {
        width: 100%;
        margin: 0;
        margin-bottom: 1em;
        padding: 0;
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .highlight-card {
        margin: 0;
        margin-bottom: 1em;
        width: 100%;
    }
  
  }