:root {
  --text-primary: ##ffffff;
  --text-secondary: #585676;
  --bg-primary: #100e1d;
  --bg-secondary: #1e213a;
  --success: #18b612;
  --danger: #eb2525;
  --submit: #3c47e9;
  --tran-primary: 300ms ease all;
  --tran-secondary: 600ms ease all;
}

html {
  margin: 0;
  padding: 0;
  background: var(--bg-primary);
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

body {
  margin: 0;
}